In [1]:
import numpy as np
import pandas as pd

In [5]:
form_df = pd.read_csv('q3_info.csv')
form_df

        Bucket  Quotes  Views
0     Baseline      32    595
1  Variation 1      30    599
2  Variation 2      18    622
3  Variation 3      51    606
4  Variation 4      38    578